.active>.nav-link{
  color: #00CDAB !important;
}

.nav-item{
  font-size: 1.2em;
}

::selection {
  background: #00D479; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00D479; /* Gecko Browsers */
}

.btn-primary {
  background-color: #00cda9;
  border-color: #00cda9 !important;
}
.btn:hover{
  background-color: #00D479 !important;
  border-color: #00D479 !important;
}

#speakername{
  color: #00CDAB;
}

#speakepic{
  border-radius: 5px;
}
