{% extends 'base.html' %}
{% block content %}
    <div class="container" style="background-color: white;">
    <br><br><br>
        <div class="container" style="width:50%;background-color: white;">
        {% for key, value in months.items %}
            <h3>{{ value }}</h3>
            <hr>
            {% for event in event_list %}
                {% if event.date.month == key %}
                    <h2>{{ event.name }}</h2>
                    <h4>{{ event.date }}</h4>
                    <img src="{{ event.poster.url }}">
                    <br>
                    <a href="{{ event.link }}">Узнать больше...</a>
                    <br><hr><br>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock content %}