body{
    background-color: #015981;
}

.brandbar {
    position: relative;
}

.image {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.nav-link {
    font-size: 1.2em;
}