{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div>
    {% if validlink %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-row field-password1">
                <label for="id_new_password1">Введіть новий пароль
                    {{ form.new_password1 }}
                </label>
            </div>
            <div class="form-row field-password2">
                <label for="id_new_password2">Підтвердіть пароль
                    {{ form.new_password2 }}
                </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Змінити пароль">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
</div>


{% endblock %}